<div class="site-footer d-print-none">
  <div class="container">
    <ul class="site-footer-links ps-0">
      <li><a href="/">Home</a></li>
      <span class="divider">|</span>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content?id=3C4F47288DFB454987435AB5EFEFBB7F">About gov.bc.ca</a>
      </li>
      <span class="divider">|</span>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content?id=79F93E018712422FBC8E674A67A70535">Disclaimer</a>
      </li>
      <span class="divider">|</span>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content?id=9E890E16955E4FF4BF3B0E07B4722932">Privacy</a>
      </li>
      <span class="divider">|</span>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content?id=E08E79740F9C41B9B0C484685CC5E412">Accessibility</a>
      </li>
      <span class="divider">|</span>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content?id=1AAACC9C65754E4D89A118B875E0FBDA">Copyright</a>
      </li>
      <span class="divider">|</span>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content?id=6A77C17D0CCB48F897F8598CCC019111">Contact Us</a>
      </li>
      <span class="divider">|</span>
      <li>
        <a href="javascript:void(0);" (click)="showTermsOfUse()">Terms of Use</a>
      </li>
      <span class="divider"></span>
    </ul>
  </div>
</div>
